apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-wdoq
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-unln-tenant/quarkus/devfile-sample-code-with-quarkus-wdoq@sha256:c95b7b97f8afcf47847f0e889db7a84904d133d1cb76e27ab292491bcef28ca3
        name: my-java-quarkus
        resources: {}
status: {}
